
// Clear contents of remote modal when it is hidden so that it can be loaded with new contents next time it is accessed.
$(document).on('hidden.bs.modal', '#remoteModal', function() {
    $('#remoteModal').removeData('bs.modal');
});


//loads modal form window after submission from the modal window
$(document).on('submit', '#modalForm', function(formEvent) {

    formEvent.preventDefault();
    var form = $('#modalForm');
    var options = {
        url: form.attr('action'),
        error: function(response) {
            $("#remoteModal .modal-content").html("An error occurred accessing modal form");
        },
        success: function(response) {
            $("#remoteModal .modal-content").html(response);
        }
    };

    $('#modalForm').ajaxSubmit(options);

});

// Refresh the item list when the modal close button is clicked
$(document).on('click', '#modal_close_button', function() {
    $('#remoteModal').modal('hide');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
    load_item_list('{{ item_list_tab_id }}', '{{ item_list_url }}', {{item_list_options|length}}, false);
});
