var base_url = window.location.protocol + "//" + window.location.host;

//load school list when document is ready
$(document).ready(function(){
    loadSchoolList();
});

//reload school list tab when modal is hidden
$(document).on('hidden.bs.modal', '#remoteModal', function() {
    loadSchoolList();
});

//loads school list tab and makes the list a dataTable (search functionality, etc.)
function loadSchoolList() {
    $('#school_list_tab').load(base_url + '/school/list/', function() {
        $('#school_list').dataTable( {
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [ -2, -1 ] }
            ]
        });
    });
};