{% autoescape off %}

{{ add_student_form.get_javascript_validation_function }}
{{ edit_student_form.get_javascript_validation_function }}
{{ edit_student_form.get_javascript_show_modal_function }}

{% endautoescape %}

function validateAddStudentsFields()
{

    var form = document.forms['addStudentsForm'];

    var addStudentsFile = form.elements["add_students_file"].value
    var addStudentsFileValid = (addStudentsFile != '')
    if(!addStudentsFileValid) {
        var addStudentsFileErrorMessage = document.getElementById("addStudentsFileErrorMessageLabel")
        addStudentsFileErrorMessage.style.display = 'inherit'
        addStudentsFileErrorMessage.innerHTML = "- Please select CSV file";
    }

    return addStudentsFileValid;

}

$(document).ready(function(){
    $('#student_list').dataTable( {
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ -2, -1 ] }
        ]
    });
});