{% autoescape off %}

{{ add_teacher_form.get_javascript_validation_function }}
{{ edit_teacher_form.get_javascript_validation_function }}
{{ edit_teacher_form.get_javascript_show_modal_function }}

{% endautoescape %}

function validateAddTeachersFields()
{

    var form = document.forms['addTeachersForm'];

    var addTeachersFile = form.elements["add_teachers_file"].value
    var addTeachersFileValid = (addTeachersFile != '')
    if(!addTeachersFileValid) {
        var addTeachersFileErrorMessage = document.getElementById("addTeachersFileErrorMessageLabel")
        addTeachersFileErrorMessage.style.display = 'inherit'
        addTeachersFileErrorMessage.innerHTML = "- Please select CSV file";
    }

    return addTeachersFileValid;

}

$(document).ready(function(){
    $('#teacher_list').dataTable( {
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ -2, -1 ] }
        ]
    });
});
