{% extends "fitness_test_base.html" %}

{% block title_fitness_testing_base %}
Login
{% endblock %}

{% block content_fitness_testing_base %}
	<div id='login_box' class="six columns"> 
		<form action="/login/" method="post">
			{% csrf_token %}
			{% if next %}
			<input type="hidden" name="next" value="{{ next }}" />
			{% endif %}
			username:
			<input type="text" name="username" value="{{ username}}" /><br />
			password:
			<input type="password" name="password" value="" /><br />

			<input type="submit" value="Log In" />
		</form>
		{{ state }}
	</div>
{% endblock %}
