
<div id='non_js_container'>

    <div id="class_user_message_alert" class="alert alert-danger fade in hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div id="class_user_message"></div>
    </div>

    <div class="panel panel-default">

        <div class="panel-heading">
            {{ class_title }}
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar" id="class_links">
                        {% for link_label, link_url, load_type in class_tabs %}
                            <li class="{{ load_type }}">
                                <a href="{{ link_url }}">{{ link_label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="col-sm-9 col-md-10" id='class_results' href="/class/results_table/{{ class_pk }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
