{% load staticfiles %}
<div class="panel panel-default">
    {% if last_active_tab == 'class_list' %}
        {% if messages %}
          <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             {% for message in messages %}
                 {% if "class_list" in message.tags %}
                     {{ message }} <br>
                 {% endif %}
            {% endfor %}
          </div>
        {% endif %}
    {% endif %}
    <div class="panel-heading">
        Class List
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                +
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="" data-toggle="modal" data-target="#addClassModal">Add Class</a></li>
                <li><a href="" data-toggle="modal" data-target="#addClassesModal">Add/Edit Classes from .CSV</a></li>
            </ul>
        </div>
    </div>
    <!--div id="table-wrapper"    This wrapper probably not required following use of dataTables-->
        <div class="table-responsive">
        <table class="table table-hover" id="class_list">
        <thead><tr><th>Year</th><th>Class Name</th><th>Teacher(s)</th><th></th><th></th></tr></thead>
            {% for class in class_list %}
                <tr><td>{{ class.year }}</td>
                    <td>{{ class.class_name }}</td>
                    <td>
                    {% for teacher in class.teachers.all %}
                        {{ teacher }}
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                    </td>
                    <td><form method="POST" action="{{ submit_to_page }}">
                        {% csrf_token %}
                        <input type="hidden" name="class_pk" value="{{ class.pk }}"/>
                        <button type="submit" class="btn btn-default btn-xs" id="SubmitIdentifier" name="SubmitIdentifier" value="EditClass">
                            <span class="glyphicon glyphicon-pencil"></span></a>
                        </button>
                        </form>
                    </td>
                    <td><form method="POST" action="{{ submit_to_page }}" onsubmit="return confirm('Are you sure you want to delete class {{ class.class_name }} ({{ class.year }})?');">
                        {% csrf_token %}
                        <input type="hidden" name="class_pk" value="{{ class.pk }}"/>
                        <button type="submit" class="btn btn-default btn-xs" id="SubmitIdentifier" name="SubmitIdentifier" value="DeleteClass">
                            <span class="glyphicon glyphicon-remove"></span></a>
                        </button>
                        </form>
                    </td></tr>
            {% endfor %}
        </table>
        </div>
    <!--/div-->
</div>

<!-- Modal -->
<div class="modal fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="addClassModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" enctype="multipart/form-data" action="{{ submit_to_page }}" class="form-horizontal">
          <div class="modal-header">
            <h4 class="modal-title" id="addClassModalLabel">Add Class</h4>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {{add_class_form.as_p}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="SubmitIdentifier" name="SubmitIdentifier" value="AddClass">Add Class</button>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addClassesModal" tabindex="-1" role="dialog" aria-labelledby="addClassesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" enctype="multipart/form-data" action="{{ submit_to_page }}">
          <div class="modal-header">
            <h4 class="modal-title" id="addClassesModalLabel">Add Classes</h4>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {{add_class_form.as_p}} <!-- Need to fix this. Using a different form to begin with -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="SubmitIdentifier" name="SubmitIdentifier" value="AddClasses">Add Classes</button>
          </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editClassModal" tabindex="-1" role="dialog" aria-labelledby="editClassModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" enctype="multipart/form-data" action="{{ submit_to_page }}" class="form-horizontal">
          <div class="modal-header">
            <h4 class="modal-title" id="editClassModalLabel">Edit Class</h4>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {{ edit_class_form.non_field_errors }}
              {% for field in edit_class_form %}
                  <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
                      <div class="col-sm-4">{{ field.label_tag }}</div>
                      <div class="col-sm-8">{{ field }}
                          {% if field.errors %}
                              <span class="help-block">{{ field.errors }}</span>
                          {%  endif %}
                      </div>
                  </div>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="SubmitIdentifier" name="SubmitIdentifier" value="SaveClass">Save Changes</button>
          </div>
      </form>
    </div>
  </div>
</div>

<div class="panel panel-default"></div>

