{% extends "schooluser.html" %}

{% block title_fitness_testing_base %}
Edit Student
{% endblock %}

{% block content_schooluser %}
    <div class="container">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Student Details Form</div>
                <div class="panel-body">
                    <form action="/administrator/student/{{ student_form.student_id.value }}" method="post" class="form-horizontal">{% csrf_token %}
                        {{ student_form.non_field_errors }}
                        {% for field in student_form %}
                            <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
                                <div class="col-sm-4">{{ field.label_tag }}</div>
                                <div class="col-sm-8">{{ field }}
                                {% if field.errors %}
                                    <span class="help-block">{{ field.errors }}</span>
                                {%  endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <input type="submit" value="Save Changes" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_functionality %}
{% endblock %}