<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title> Fitness Testing App - {% block title_fitness_testing_base %} {% endblock %}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static "fitness_scoring/theme.css" %}">
</head>
<body>
        <div id="banner">
	Fitness Testing App
	</div>
	{% block content_fitness_testing_base %} {% endblock %}
</body>
</html>
