<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Mathew Chai & Michael Coffey">
    <title>Fitness Testing App - {% block title_fitness_testing_base %} {% endblock %}</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!-- DataTables / Bootstrap integration CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.css">

    <!-- CSS
    ================================================== -->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/skeleton.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/layout.css' %}">
-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/site_styles.css' %}">
    {% block custom_css %} {% endblock %}

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{%  static 'js/bootstrap.min.js' %}"></script>

    <!-- jQuery Form Plugin -->
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <!-- DataTables and DataTables/Bootstrap integration JavaScript -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.0-beta.2/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>{% block javascript_functionality %} {% endblock %}</script>

</head>
<body>

    <div class="container">

        {% block content_fitness_testing_base %} {% endblock %}
    </div><!-- container -->
</body>
</html>
