{% load staticfiles %}
<html>

<head>
    <title>Terms and Conditions</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/site_styles.css' %}">
</head>
<body>

<form action="{{ post_to_url }}" method="post">

    {% csrf_token %}

    <div class="terms">

        <h3>Terms and Conditions</h3>

        <h4>General</h4>

        <p>

        </p>

        <h4>You Will Not Copy Program</h4>

        <p>
            blah blah
        </p>

        <p>
            para 2
        </p>

        <h4>You Will Not Misuse Program</h4>

        <p>
            blah blah
        </p>

        <p>
            para 2
        </p>

        <h4>You Are Part Of A School</h4>

        <p>
            blah blah
        </p>

        <p>
            para 2
        </p>

        <h4>Fees</h4>

        <p>

        </p>

        <h4>Privacy</h4>

        <p>
            We Will Only Use Meta Data
        </p>

    </div>

    <input type="checkbox" id="agree_check" value="agree" onchange="read_terms()">
    I have read the terms and conditions and I agree<br>

    <input type="submit" id="cancel_button" name="cancel_button" value="Cancel">
    <input type="submit" id="agree_button" name="agree_button" value="I Agree" disabled>

</form>

</body>

<script>
    function read_terms()
    {
        var agree_button = document.getElementById('agree_button');
        if(document.getElementById('agree_check').checked)
            agree_button.disabled = false;
        else
            agree_button.disabled = true;
    }
</script>

</html>