
<form method="POST" id="modalForm" enctype="multipart/form-data" action="{{ post_to_url }}" class="form-horizontal">

    <div class="modal-header"><div class="modal-title">{{ modal_title }}</div></div>

    <div class="modal-body" {% if not first_page %}style="padding-bottom: 0px"{% endif %}>
        {% csrf_token %}

        <div {% if not first_page %}style="display: none"{% endif %}>
            {% for field in class_add_form %}

                {% if field.is_hidden %}

                    <div class="form-group" style="display: none">{{ field }}</div>

                {% else %}

                    <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
                        <div class="col-sm-4">{{ field.label_tag }}</div>
                        <div class="col-sm-8">
                            {{ field }}
                            {% if field.errors %}
                                <span class="help-block">{{ field.errors }}</span>
                            {% endif %}
                        </div>
                    </div>

                {% endif %}

            {% endfor %}
        </div>

        <div {% if first_page %}style="display: none"{% endif %}>

            {% if other_classes %}
                <div>
                    <label for="previous_class_tests_2">Use Previous Class's Tests</label>
                    <select id="previous_class_tests_2">
                        <option value="" disabled selected></option>
                        {% for class_name, load_url in other_classes %}
                            <option value="{{ load_url }}">{{ class_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% for hidden in allocate_tests_form.hidden_fields %}
                <div class="form-group" style="display: none">{{ hidden }}</div>
            {% endfor %}

            {% for major_test_category, tests in allocate_tests_form.major_test_categories %}

                <div class="middle_color" style="height: 1px; background-color: transparent; text-align: center">
                    <span style="font-size: 16px; position: relative; top: 0.6em; background-color: white;
                     padding-right: 5px; padding-left: 5px">
                        {{ major_test_category }}
                    </span>
                </div>
                <hr class="middle_color" style="border-width: 2px">

                <table style="width: 100%">
                    {% for field, instructions_url, test_category in tests %}

                        {% if forloop.counter0|divisibleby:2 %}
                            <tr style="width: 100%">
                        {% endif %}

                        <td style="width: 50%; height: 50px; vertical-align: top">
                            <div class="form-group
                                {% if field.errors %}
                                    has-error has-feedback
                                {% endif %}"
                                 style="font-size: 12px">
                                <div class="col-sm-6 {{ info_load_class }}" style="padding-left: 21px">
                                    <a href="{{ instructions_url }}"
                                       title="click to open test instructions in a new tab">
                                        <span class="link_open_tab glyphicon glyphicon-info-sign"></span>
                                    </a>
                                    <label for="{{ field.auto_id }}"
                                            {% if field.field.widget.attrs.disabled %}
                                                class="disabled"
                                            {% endif %}>
                                        {{ field.label|safe }}:
                                    </label>
                                </div>
                                <div class="col-sm-1">
                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="help-block">{{ field.errors }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4 lighter_color">
                                    {{ test_category }}
                                </div>
                            </div>
                        </td>

                        {% if forloop.counter|divisibleby:2 or forloop.last %}
                            </tr>
                        {% endif %}

                    {% endfor %}
                </table>

            {% endfor %}

        </div>

        <input type="hidden" name="button_pressed" id="button_pressed" value="not_specified">

        <div class="progress progress-striped active hide" id="progress-bar">
            <div class="progress-bar" role="progressbar"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

    </div>

    <div class="modal-footer">
        <div {% if not first_page %}style="display: none"{% endif %}>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary button-note-pressed" value="next">Next</button>
        </div>
        <div {% if first_page %}style="display: none"{% endif %}>
            <button type="submit" class="btn btn-primary button-note-pressed" value="back">Back</button>
            <button type="submit" class="btn btn-primary" id="modal_submit_button">Done</button>
        </div>
    </div>

</form>
