
<form method="POST" id="modalForm" enctype="multipart/form-data" action="{{ post_to_url }}" class="form-horizontal">

    <div class="modal-header">
        <div class="modal-title">
            {% if modal_title %}
                {{ modal_title }}
            {% else %}
                {{ functionality_name }}
            {% endif %}
        </div>
    </div>

    <div class="modal-body" style="padding-bottom: 0px">
        {% csrf_token %}
        {% if form %}

            {% if other_classes %}
                <label>Use Previous Class's Tests</label>
                <select id="previous_class_tests">
                    <option value="" disabled selected></option>
                    {% for class_name, load_url in other_classes %}
                        <option value="{{ load_url }}">{{ class_name }}</option>
                    {% endfor %}
                </select>
                <hr>
            {% endif %}

            {{ form.non_field_errors }}

            <div class="form-group" style="display: none">{{ form.class_pk }}</div>

            {% for major_test_category, test_categories in form.major_test_categories %}

                {{ major_test_category }}

                {% for test_category, tests in test_categories %}

                    {{ test_category }}

                    {% for field in tests %}

                        {% if field.is_hidden %}

                            <div class="form-group" style="display: none">{{ field }}</div>

                        {% else %}

                            <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
                                <div class="col-sm-4">{{ field.label_tag }}</div>
                                <div class="col-sm-8">
                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="help-block">{{ field.errors }}</span>
                                    {% endif %}
                                </div>
                            </div>

                        {% endif %}

                    {% endfor %}

                {% endfor %}

            {% endfor %}

        {% endif %}
        <div class="progress progress-striped active hide" id="progress-bar">
            <div class="progress-bar" role="progressbar"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id='modal_submit_button'>{{ functionality_name }}</button>
    </div>

</form>
