
<div id="percentile_brackets_graph_header">

    <div class="modal-header">
        {{ test_label }} - Percentile Brackets
    </div>

    Select Age and Gender:
    <select id="age_gender_selection">
        {% for value, label, selected in age_gender_options %}
            <option value="{{ value }}" {% if selected %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>

</div>

<!--div id="percentile_brackets_data">
    {{ percentile_bracket_scores }}
</div-->

<div id="percentile_brackets_graph" style="width:600px;height:300px"></div>


<script>
	$(document).ready(function() {

        var bracket_data = [
            {% for score in percentile_bracket_scores %}
                [{{ score }}, {{ forloop.counter0 }}],
            {% endfor %}
        ];

        $.plot("#percentile_brackets_graph", [ bracket_data ]);

	});
</script>