<form method="POST" name="schoolAdd" id="schoolAdd" enctype="multipart/form-data" action="/school/add/" class="form-horizontal">
  <div class="modal-header">
    <h4 class="modal-title" id="schoolAddModalLabel">Add School</h4>
  </div>
  <div class="modal-body">
      {% csrf_token %}
      {{ school_add_form.non_field_errors }}
      {% for field in school_add_form %}
          {% if field.is_hidden %}
              <div class="form-group" style="display: none">{{ field }}</div>
          {% else %}
              <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
                  <div class="col-sm-4">{{ field.label_tag }}</div>
                  <div class="col-sm-8">{{ field }}
                      {% if field.errors %}<span class="help-block">{{ field.errors }}</span>{%  endif %}
                </div>
             </div>
          {% endif %}
      {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Add School</button>
  </div>
</form>
