{% load staticfiles %}
<div class="panel panel-default">

    <div class="panel-heading">
        School List
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                +
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/school/add/" data-toggle="modal" data-target="#remoteModal">Add School</a></li>
                <li><a href="" data-toggle="modal" data-target="#remoteModal">Add/Edit Schools from .CSV</a></li>
            </ul>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover" id="school_list">
            <thead><tr><th>School Name</th><th>Subscription</th><th>Administrator Username</th><th></th><th></th></tr></thead>
            {% for administrator in administrator_list %}
                <tr>
                    <td>{{ administrator.school_id.name }}</td>
                    <td>{{ administrator.school_id.get_subscription_paid_text }}</td>
                    <td>{{ administrator.user.username }}</td>
                    <td>
                        <a href="/school/edit/{{ administrator.school_id.pk }}" data-toggle="modal" data-target="#remoteModal">
                            <span class="glyphicon glyphicon-pencil"/>
                        </a>
                    </td>
                    <td>
                        <a href="/school/delete/{{ administrator.school_id.pk }}" data-toggle="modal" data-target="#remoteModal">
                                <span class="glyphicon glyphicon-remove"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>

<!-- Remote Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true"
        data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
