{% load staticfiles %}
<div class="panel panel-default">
    {% if True %}
        {% if messages %}
          <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             {% for message in messages %}
                 {% if "school_list" in message.tags %}
                     {{ message }} <br>
                 {% endif %}
            {% endfor %}
          </div>
        {% endif %}
    {% endif %}
    <div class="panel-heading">
        School List
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                +
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="" data-toggle="modal" data-target="#addSchoolModal">Add School</a></li>
                <li><a href="" data-toggle="modal" data-target="#addSchoolsModal">Add/Edit Schools from .CSV</a></li>
            </ul>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" id="school_list">
            <thead><tr><th>School Name</th><th>Subscription</th><th>Administrator Username</th><th></th><th></th></tr></thead>
            {% for administrator in administrator_list %}
                <tr>
                    <td>{{ administrator.school_id.name }}</td>
                    <td>{{ administrator.school_id.get_subscription_paid_text }}</td>
                    <td>{{ administrator.user.username }}</td>
                    <td>
                        <form method="POST" action="{{ submit_to_page }}">
                            {% csrf_token %}
                            <button type="button" class="btn btn-default btn-xs" onclick="showEditSchoolModal('{{ administrator.school_id.pk }}', '{{ administrator.school_id.name }}', '{{ administrator.school_id.subscription_paid }}')">
                                <span class="glyphicon glyphicon-pencil"/>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{{ submit_to_page }}" onsubmit="return confirm('Are you sure you want to delete school {{ school.name }}?');">
                        {% csrf_token %}
                            <input type="hidden" name="school_pk" value="{{ administrator.school_id.pk }}"/>
                            <button type="submit" class="btn btn-default btn-xs" id="SubmitIdentifier" name="SubmitIdentifier" value="DeleteSchool">
                                <span class="glyphicon glyphicon-remove"/>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addSchoolModal" tabindex="-1" role="dialog" aria-labelledby="addSchoolModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" name="addSchoolForm" enctype="multipart/form-data" action="{{ submit_to_page }}" class="form-horizontal" onsubmit="return validateAddSchoolFields()">
          <div class="modal-header">
            <h4 class="modal-title" id="addSchoolModalLabel">Add School</h4>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {% for field in add_school_form %}
                  <div class="form-group">
                      <div class="col-sm-4">{{ field.label_tag }}</div>
                      <div class="col-sm-8">{{ field }}</div>
                  </div>
                  <div class="error_message">
                      <label name="addSchool_{{ field.html_name  }}_ErrorMessageLabel" id="addSchool_{{ field.html_name  }}_ErrorMessageLabel" style="display: none"/>
                  </div>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="SubmitIdentifier" name="SubmitIdentifier" value="AddSchool">Add School</button>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addSchoolsModal" tabindex="-1" role="dialog" aria-labelledby="addSchoolsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" name="addSchoolsForm" enctype="multipart/form-data" action="{{ submit_to_page }}" class="form-horizontal" onsubmit="return validateAddSchoolsFields()">
          <div class="modal-header">
            <h4 class="modal-title" id="addSchoolsModalLabel">Add Schools</h4>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                  <div class="col-sm-4"><label>Add Schools File:</label></div>
                  <div class="col-sm-8"><input type="file" name="add_schools_file" id="add_schools_file"/></div>
              </div>
              <div class="error_message">
                  <label name="addSchoolsFileErrorMessageLabel" id="addSchoolsFileErrorMessageLabel" style="display: none"/>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="SubmitIdentifier" name="SubmitIdentifier" value="AddSchools">Add Schools</button>
          </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editSchoolModal" tabindex="-1" role="dialog" aria-labelledby="editSchoolModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST"  name="editSchoolForm" enctype="multipart/form-data" action="{{ submit_to_page }}" class="form-horizontal" onsubmit="return validateEditSchoolFields()">
          <div class="modal-header">
              <h4 class="modal-title" id="editSchoolModalLabel">Edit School</h4>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {% for field in edit_school_form.hidden_fields %}
                  <div class="form-group" style="display: none">{{ field }}</div>
              {% endfor %}
              {% for field in edit_school_form.visible_fields %}
                  <div class="form-group">
                      <div class="col-sm-4">{{ field.label_tag }}</div>
                      <div class="col-sm-8">{{ field }}</div>
                  </div>
                  <div class="error_message">
                      <label name="editSchool_{{ field.html_name  }}_ErrorMessageLabel" id="editSchool_{{ field.html_name  }}_ErrorMessageLabel" style="display: none"/>
                  </div>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="SubmitIdentifier" name="SubmitIdentifier" value="SaveSchool">Save Changes</button>
          </div>
      </form>
    </div>
  </div>
</div>

<div class="panel panel-default"/>

