<form method="POST"  name="{{ edit_school_form.get_form_name }}" enctype="multipart/form-data" action="{{ submit_to_page }}" class="form-horizontal" onsubmit="return {{ edit_school_form.get_javascript_validation_call }}">
  <div class="modal-header">
      <h4 class="modal-title" id="editSchoolModalLabel">Edit School</h4>
  </div>
  <div class="modal-body">
      {% csrf_token %}
      {% for field in edit_school_form.hidden_fields %}
          <div class="form-group" style="display: none">{{ field }}</div>
      {% endfor %}
      {% for field in edit_school_form.visible_fields %}
          <div class="form-group">
              <div class="col-sm-4">{{ field.label_tag }}</div>
              <div class="col-sm-8">{{ field }}</div>
          </div>
          <div class="error_message">
              <label id="{{ edit_school_form.get_error_message_label_id_prefix }}{{ field.html_name  }}" style="display: none"/>
          </div>
      {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary" name="{{ edit_school_form.get_edit_school_button_name }}" value="{{ edit_school_form.get_edit_school_button_value }}">Save Changes</button>
  </div>
</form>