{% extends "fitness_test_base.html" %}

{% block content_fitness_testing_base  %}

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <div class="navbar-brand">Fitness Testing App - Results Entry Page</div><br>
            <div class="navbar-brand">{{ school_name }} : {{ class_name }}</div>
        </div>
        <div class="navbar-right navbar-text">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">.</a></li>
                    <li><a href="#">.</a></li>
                    <li><a href="#">.</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Fixed navbar -->

    {% include 'student_entry_form_inner.html' %}

{% endblock %}