{% extends "loggedin.html" %}

{% block title_fitness_testing_base %}
Super User
{% endblock %}

{% block content_loggedin %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#school_list_tab" data-toggle="tab">School List</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="school_list_tab"></div>
    </div>
{% endblock %}

{% block javascript_functionality %}
    {% include "javascript_additions/school_list_javascript.html" %}
{% endblock %}