
<div class="text-info" style="color: black">
    <h1>
        {{ test.test_category.test_category_name }} ({{ test.major_test_category.major_test_category_name }}):
        {{ heading }}
        {% if showing_individual_test %}
            <button type="button" class="btn btn-primary" onclick="window.close();">
                Close Instructions
            </button>
        {% endif %}
    </h1>

    {% if showing_individual_test %}
        When you clicked on the instructions link this page opened in a new tab or window.  You can click on the close
        instructions button above to close this tab and return to the program.
    {% endif %}
    <hr>
    <h3>Objective</h3>
        {% if objective %}
            {{ objective }}
        {% else %}
            No objective described
        {% endif %}

    <hr>
    <h3>Required Resources</h3>
        {% if resources %}
            To undertake this test you will require:
            <ul>
                {% for resource in resources %}
                    <li>{{ resource }}</li>
                {% endfor %}
            </ul>
        {% else %}
            No resources have been detailed
        {% endif %}

    <hr>
    <h3>How to conduct the test</h3>
        {% if instructions %}
        {% for instruction in instructions %}
            {% if instruction|length > 1 %}
                <ul>
                    {% for instruction_point in instruction %}
                        <li>{{ instruction_point }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {% for instruction_point in instruction %}
                    {{ instruction_point }}
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% else %}
            No instructions detailed
        {% endif %}

    {% if diagram %}
        <hr>
        {% if multiple_diagrams %}
            <h3>Diagrams</h3>
            <ol>
                {% for diagram1 in diagram %}
                    <li><img src="/static/images/test_instructions/{{ diagram1 }}"/></li>
                {% endfor %}
            </ol>
        {% else %}
            <h3>Diagram</h3>
            <img src="/static/images/test_instructions/{{ diagram }}"/>
        {% endif %}
    {% endif %}
</div>