<div class="text-info">
    {% if step_sets %}

        {% for steps, steps_text in step_sets %}
            <div style="height: 1px; background-color: transparent; text-align: left; padding-left: 10px">
                <span style="color: grey; background-color: white; position: relative; top: 1.0em">
                    &nbsp {{ steps_text }} &nbsp
                </span>
            </div>
            <hr>
            {% for step_text, step_link, images in steps %}
                <input type="radio" value="{{ forloop.parentloop.counter0 }}:{{ forloop.counter0 }}"
                       name="short_instructions_radio"
                       onChange="show_short_step({{ forloop.parentloop.counter0 }}, {{ forloop.counter0 }})">
                {{ step_text }}<br>
            {% endfor %}
        {% endfor %}

        <script>
            function show_short_step(outer_loop_count_show, inner_loop_count_show) {
                {% for steps, steps_text in step_sets %}
                    var outer_loop_count = {{ forloop.counter0 }}
                    {% for step_text, step_link, images in steps %}
                        var inner_loop_count = {{ forloop.counter0 }}
                        var instruction_id = "short_step_instruction_" + outer_loop_count + "_" + inner_loop_count;
                        var instruction_to_show = document.getElementById(instruction_id);
                        if((outer_loop_count == outer_loop_count_show) && (inner_loop_count == inner_loop_count_show))
                            instruction_to_show.style.display = "inherit";
                        else
                            instruction_to_show.style.display = "none";
                    {% endfor %}
                {% endfor %}
            }
        </script>

        {% for steps, steps_text in step_sets %}
            {% for step_text, step_link, images in steps %}
                <div style="padding-left: 20px; padding-bottom: 20px; display: none"
                     id="short_step_instruction_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">
                    <h3 style="color: green">
                        {{ step_text }}
                        <a href="{{ step_link }}" target="_blank" style="color: red; font-size: 15px">
                            (click here for more detailed instructions)
                        </a>
                    </h3>
                    {% if images %}
                        <table><tr>
                            {% for image, text in images %}
                                <td>
                                    {% if text %}
                                        <div style="height: 1px; background-color: transparent; text-align: center">
                                            <span style="color: purple; font-size: 10px; font-weight: bold;
                                             background-color: transparent; position: relative; top: -1.5em">
                                                &nbsp {{ text }} &nbsp
                                            </span>
                                        </div>
                                    {% endif %}
                                    <img src="/static/images/instructions_quick/{{ image }}"
                                         style="border:1px solid black"/>
                                </td>
                                {% if not forloop.last %}
                                    <td>
                                        <img src="/static/images/instructions_quick/arrow3.png"/>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr></table>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}

    {% else %}
        <hr>
        No Steps Listed
    {% endif %}
</div>