{% extends "logged_in.html" %}

{% block title_fitness_testing_base %}
    {{ user_tab_page_title }}
{% endblock %}

{% block content_logged_in %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-3 sidebar">
                <ul class="nav nav-sidebar" id="main_view_links">
                    {% for link_label, link_url in user_tabs %}
                        <li><a href="{{ link_url }}">{{ link_label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-8 col-md-9" id="main_view">
            </div>
        </div>
    </div>

    <script>
        {% include 'javascript_additions/ajax_user_tab_page.js' %}
        {% include 'javascript_additions/ajax_item_list_include_with_user_tab_page.js' %}
        {% include 'javascript_additions/ajax_item_list_include_with.js' %}
    </script>

{% endblock %}
