<!DOCTYPE html>
<html>
<head>
    <title>{{ heading }}</title>
</head>
<body>
    <div class="text-info">
        <h1>{{ heading }}</h1>
        When you clicked on the instructions link this page opened in a new tab or window.  You will need to click on
        the tab you were on to use the program.  You can click back on this tab to read these instructions.
        <hr>
        <h3>Reason For Step</h3>
            {% if reason %}
                {{ reason }}
            {% else %}
                No Reason Listed.
            {% endif %}
        <hr>
        <h3>How To</h3>
            {% if instructions %}
                <ol>
                    {% for instruction in instructions %}
                        <li>
                            {% for instruction_line, image in instruction %}
                                {{ instruction_line }}<br><br>
                                {% if image %}
                                    <img src="/static/images/instructions/{{ image }}"/><br><br>
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                No Instructions Listed.
            {% endif %}
    </div>

</body>
</html>