{% extends "logged_in.html" %}

{% block title_fitness_testing_base %}
    {{ user_tab_page_title }}
{% endblock %}

{% block content_logged_in %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-3 sidebar">
                <ul class="nav nav-sidebar" id="main_view_links">
                    {% for link_label, link_url, load_type in user_tabs %}
                        <li load_type="{{ load_type }}">
                            <a href="{{ link_url }}">{{ link_label }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
                {% if step_sets %}

                    <ul class="nav nav-sidebar" id="short_instructions_links">
                        <li><a href="" value="-1:-1">Show No Instructions</a>
                        {% for steps, steps_text in step_sets %}
                            <div style="height: 1px; background-color: transparent; text-align: left; padding-left: 10px">
                                <span style="color: grey; background-color: white; position: relative; top: 1.0em">
                                    &nbsp {{ steps_text }} &nbsp
                                </span>
                            </div>
                            <hr>
                            {% for step_text, step_link, images in steps %}
                                <li><a href="" value="{{ forloop.parentloop.counter0 }}:{{ forloop.counter0 }}">
                                    {{ step_text }}
                                </a></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>

                    <script>
                        function show_short_step(outer_loop_count_show, inner_loop_count_show) {
                            {% for steps, steps_text in step_sets %}
                                var outer_loop_count = {{ forloop.counter0 }}
                                {% for step_text, step_link, images in steps %}
                                    var inner_loop_count = {{ forloop.counter0 }}
                                    var instruction_id = "short_step_instruction_" + outer_loop_count + "_" + inner_loop_count;
                                    var instruction_to_show = document.getElementById(instruction_id);
                                    if((outer_loop_count == outer_loop_count_show) && (inner_loop_count == inner_loop_count_show))
                                        instruction_to_show.style.display = "inherit";
                                    else
                                        instruction_to_show.style.display = "none";
                                {% endfor %}
                            {% endfor %}
                        }
                    </script>
                {% endif %}
            </div>
            <div class="col-sm-8 col-md-9" id="main_view_container">
                <div id="main_view_top"></div>
                <div id="main_view_middle">
                {% if step_sets %}
                    {% for steps, steps_text in step_sets %}
                        {% for step_text, step_link, images in steps %}
                            <div style="padding-top: 20px; padding-bottom: 20px; display: none"
                                 id="short_step_instruction_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">
                            <div style="height: 1px; background-color: transparent; text-align: left; padding-left: 10px">
                                <span style="color: black; background-color: white; position: relative; top: -0.6em;
                                 font-size: 20px">
                                    &nbsp Instructions &nbsp
                                </span>
                            </div>
                            <div style="padding-left: 20px; padding-bottom: 20px; border: 1px solid #000000">
                                <h3 style="color: green">
                                    {{ step_text }}
                                    <a href="{{ step_link }}" target="_blank" style="color: red; font-size: 15px">
                                        (click here for more detailed instructions)
                                    </a>
                                </h3>
                                {% if images %}
                                    <table><tr>
                                        {% for image, text in images %}
                                            <td>
                                                {% if text %}
                                                    <div style="height: 1px; background-color: transparent;
                                                    text-align: center">
                                                        <span style="color: purple; font-size: 10px; font-weight: bold;
                                                         background-color: transparent; position: relative;
                                                         top: -1.5em">
                                                            &nbsp {{ text }} &nbsp
                                                        </span>
                                                    </div>
                                                {% endif %}
                                                <img src="/static/images/instructions_quick/{{ image }}"
                                                     style="border:1px solid black"/>
                                            </td>
                                            {% if not forloop.last %}
                                                <td>
                                                    <img src="/static/images/instructions_quick/arrow3.png"/>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr></table>
                                {% endif %}
                            </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                </div>
                <div id="main_view_bottom"></div>
            </div>
        </div>
    </div>

    <script>
        {% include 'javascript_additions/ajax_user_tab_page.js' %}
        {% include 'javascript_additions/ajax_include_with_user_tab_page.js' %}
    </script>

{% endblock %}
