
<div class="text-info" style="padding-top: 2px">
    <div style="border: 2px solid #303030; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
        <div class="user-home-page-intro">
            <h1 style="text-align: center">
                Welcome to FitTest!
            </h1>
        </div>
        <div class="user-home-page-intro" style="text-align: justify">
            {% for text in intro_text %}
                {{ text }}<br>
            {% endfor %}
        </div>
    </div>
</div>

<div id="short_instructions" href="{{ instructions_url }}"></div>