.error_message {color: #ff0000;}

body { padding-top:80px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0; }
}

select {
    font-family:'Courier New','Courier','monospace';
}

.navbar-fixed-top {
    border-bottom: 1px solid #e0e0e0;
}

.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #e0e0e0;
}

#main_view_links > li > a {
    background-color: #f9f2f4;
    color: orangered;
}

#main_view_links > li > a:hover {
    background-color: darkorange;
    color: #f9f2f4;
}

#main_view_links > li.active > a {
    background-color: orangered;
    color: #f9f2f4;
}

.nav-sidebar > li > a {
    background-color: #f9f2f4;
    color: #428bca;
    font-weight: bold;
}

.nav-sidebar > li > a:hover {
    background-color: lightblue;
    color: #f9f2f4;
}

.nav-sidebar > li.active > a {
    background-color: #428bca;
    color: #f9f2f4;
}

select.graph_selection {
    font-weight: bold;
    color: purple;
    font-size: 20px;
    border-color: #999;
}

#class_links > li > a {
    background-color: #f9f2f4;
    color: purple;
}

#class_links > li > a:hover {
    background-color: pink;
    color: #f9f2f4;
}

#class_links > li.active > a {
    background-color: purple;
    color: #f9f2f4;
}

.form-field-help {
    color: #808080;
}

ul {list-style:none}

#results_div {
    overflow: auto;
}

.class_result_view div.xAxis div.tickLabel {
    transform: rotate(-90deg) translateX(50%) translateX(15px);
    -ms-transform:rotate(-90deg) translateX(50%) translateX(15px); /* IE 9 */
    -moz-transform: rotate(-90deg) translateX(50%) translateX(15px); /* Firefox */
    -webkit-transform: rotate(-90deg) translateX(50%) translateX(15px); /* Safari and Chrome */
    -o-transform: rotate(-90deg) translateX(50%) translateX(15px); /* Opera */
    white-space: nowrap;
    font-variant: small-caps;
    font-size: 14;
    font-weight: bold;
    color: #7f7f7f;
}

.user-home-page-intro
{
    font-size: 14px;
    font-weight: bold;
    color: #303030;
    background-color: #a0a0a0;
}

.panel-item_list
{
    border: 2px solid #303030;
}

.panel-class
{
    border: 2px solid #303030;
}

.panel-class-results-table
{
    border: 2px solid #808080;
}

.class-results-graphs
{
    border: 2px solid #808080;
}

.table_page_select
{
    float: left;
    padding-left: 2px;
    font-weight: bold;
}

.table_page_select > div > ul > li > a
{
    color: #808080;
}

.table_page_select > div > ul > li > a:hover
{
    color: #808080;
}

.table_page_select .active > a
{
    background-color: #808080;
    border-color: #808080;
    color: #ffffff;
}

.table_page_select .active > a:hover
{
    background-color: #808080;
    border-color: #808080;
    color: #ffffff;
}

.table_page_select .disabled > a
{
    font-style: italic;
    color: #d0d0d0;
}

.table_page_select .disabled > a:hover
{
    font-style: italic;
    color: #d0d0d0;
}

.table_search
{
    padding-top: 2px;
    padding-right: 2px;
}

.table_search > div > label
{
    font-weight: bold;
    color: #808080;
}

.item_list_table > thead > tr > th
{
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;

    background-color: #a0a0a0;
    color: #303030;
}

.item_list_table thead th.sorting_asc
{
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;

    background-color: #a0a0a0;
    color: #303030;
}

.item_list_table thead th.sorting_desc
{
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;

    background-color: #a0a0a0;
    color: #303030;
}

.item_list_table thead th.sorting
{
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;

    background-color: #a0a0a0;
    color: #303030;
}

.results_table > thead > tr > th
{
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;

    background-color: #a0a0a0;
    color: #303030;
}

.link_open_tab {
    color: #23b14d;
    background-color: white;
}

div.link_open_tab > a{
    color: #23b14d;
    background-color: white;
    font-weight: bold;
}

td.test_instructions_load_link > a > span {
    color: #23b14d;
    background-color: white;
}

div.test_instructions_load_link > a {
    color: #303030;
    border-color: #303030;
}

div.test_instructions_load_link > a:hover {
    color: #303030;
    border-color: #303030;
}

td.class_results_modal_load_link  > a > span {
    color: orangered;
}

td.class_result_edit_page_load_link  > a > span {
    color: orangered;
}

td.class_results_modal_load_link  > a > span.attention_color {
    color: red;
}

td.class_results_modal_load_link  > a > span.standard_blue {
    color: #428bca;
}

.panel-heading.lighter_color {
    color: #a0a0a0;
    font-weight: bold;
    border-color: #a0a0a0;
}

.darker_color
{
    color: #303030;
    font-weight: bold;
    border-color: #303030;
}

.middle_color
{
    color: #808080;
    font-weight: bold;
    border-color: #808080;
}

.lighter_color
{
    color: #a0a0a0;
    font-weight: bold;
    border-color: #a0a0a0;
}

.standard_blue
{
    color: #428bca;
}

.attention_color
{
    color: red;
}

.light_attention_color
{
    color: orangered;
}

.close_button
{
    background-color: #a0a0a0;
    border-style: none;
    color: white;
    float: right;
}

.btn {
    font-weight: bold;
}

.btn-primary {
    border-color: orangered;
    background-color: orangered;
}

.btn-primary:hover {
    border-color: orangered;
    background-color: orangered;
}

.btn-primary:focus {
    border-color: orangered;
    background-color: orangered;
}

.panel-heading {
    padding-top: 8px;
    padding-bottom: 8px;
}

.form-horizontal {
    color: #303030;
    font-weight: bold;
    border-color: #303030;
}

.modal-title {
    text-align: center;
    font-size: 20px;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;

	border-left: 12px solid #428bca;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;

	border-right: 12px solid #428bca;
}

.arrow-right.disabled {
	border-left: 12px solid #a0a0a0;
}

.arrow-left.disabled {
	border-right: 12px solid #a0a0a0;
}

li.item_list_menu_link > a {
    color: orangered;
    font-weight: bold;
    background-color: white;
}

li.item_list_menu_link > a:hover {
    color: white;
    font-weight: bold;
    background-color: orangered;
}

label.disabled {
    color: #c0c0c0;
    font-style: italic;
}

div.disabled {
    color: #c0c0c0;
    font-style: italic;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: white;
  border-color: #303030;
}

