.error_message {color: #ff0000;}

body { padding-top:80px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

select {
    font-family:'Courier New','Courier','monospace';
}

.navbar-fixed-top {
    border-bottom: 1px solid #e0e0e0;
}

.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #e0e0e0;
}

.nav-sidebar .active > a {
    background-color: #428bca;
    color: #ffffff;
}

.form-field-help {
    color: #888888
}

ul {list-style:none}

#results_div {
    overflow: auto;
}

.student_result_view div.xAxis div.tickLabel
{
    transform: rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
    white-space: nowrap;
    font-variant: small-caps;
    font-size: 14;
    font-weight: bold;
    color: #7f7f7f;
    margin-top: -80px;
}

.class_result_view div.xAxis div.tickLabel
{
    transform: rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
    white-space: nowrap;
    font-variant: small-caps;
    font-size: 14;
    font-weight: bold;
    color: #7f7f7f;
    margin-top: -140px;
}

.user-home-page-intro
{
    font-size: 20;
    color: blue;
}

.panel-item_list
{
    border: 2px solid #303030;
}

.table_page_select
{
    float: left;
    padding-left: 2px;
    font-weight: bold;
}

.table_page_select > div > ul > li > a
{
    color: #808080;
}

.table_page_select > div > ul > li > a:hover
{
    color: #808080;
}

.table_page_select .active > a
{
    background-color: #808080;
    border-color: #808080;
    color: #ffffff;
}

.table_page_select .active > a:hover
{
    background-color: #808080;
    border-color: #808080;
    color: #ffffff;
}

.table_page_select .disabled > a
{
    font-style: italic;
    color: #d0d0d0;
}

.table_page_select .disabled > a:hover
{
    font-style: italic;
    color: #d0d0d0;
}

.table_search
{
    padding-top: 2px;
    padding-right: 2px;
}

.table_search > div > label
{
    font-weight: bold;
    color: #a0a0a0;
}

.item_list_table > thead > tr > th
{
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;

    background-color: #a0a0a0;
    color: #303030;
}

.item_list_table thead th.sorting_asc
{
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;

    background-color: #a0a0a0;
    color: #303030;
}

.item_list_table thead th.sorting_desc
{
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;

    background-color: #a0a0a0;
    color: #303030;
}

.item_list_table thead th.sorting
{
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;

    background-color: #a0a0a0;
    color: #303030;
}

.darker_color
{
    color: #303030;
    font-weight: bold;
    border-color: #303030;
}

.middle_color
{
    color: #808080;
    font-weight: bold;
    border-color: #808080;
}

.lighter_color
{
    color: #a0a0a0;
    font-weight: bold;
    border-color: #a0a0a0;
}

.standard_blue
{
    color: #428bca;
}

.attention_color
{
    color: red;
}

.light_attention_color
{
    color: orangered;
}

.close_button
{
    background-color: #a0a0a0;
    border-style: none;
    color: white;
    float: right;
}